/* styles.css */

/* Body styles */
body {
    font-family: Perpetua, sans-serif;
    background-color: #29465B;
    background-image: url("../images/hollow-knight-blue-butterflies-htthva79qwf3msbg.jpg");
    background-position: center; /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.form-label{
    color: #FFFFFF;
    font-weight: bold;
}
textarea{
    font-size: 1.5em;
}
header{
    background-color: #414141;
}
header nav ul li a{
    color: #fff;
}

#search{
    width: 200px;
}
/* Header styles */
h1, h2, p {
    text-align: center;
    color: #FFFFFF;
}
p{
    font-size: 1.5em;
}
.card p{
    text-align: left;
}
.banner{
    text-align: center;

}
.box{
    margin: 30px;
    background: rgba(0,0,0,.5);
    border: 1px solid black;
}
/* Card styles */
.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: 300px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
    margin-bottom: 15px;
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    width: fit-content;
    font-size: 28px;
    margin: 0 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    margin: 15px;
    background-color: #007bff;
    color: #fff;

}
div.card.mb-3{
    height: fit-content;
}
.btn-danger {
    margin: 15px;
    background-color: #dc3545;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
}

footer {
    background-color: #414141;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.character-image {
    width: 100%;
    height: 300px; /* Set a fixed height */
    object-fit: cover;
    border-radius: 8px;
}

.discussion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

a{
    font-size: 24px;

}
footer nav ul {
list-style-type: none;

}
footer nav ul li a{
    color: #FFFFF8;
}